.main-nav {
    display: flex;
    justify-content: space-between;
    background-color:red;
}
.nav-menu {
    display: flex;
    gap: 16px;
}
.nav-toggle {
    display: none;
}
@media screen and (max-width: 768px) {
    .nav-toggle {
        display: flex;
        justify-content: center;
        align-content: center;
        align-self: center;
        flex-direction: column;
    }
    .nav-toggle:hover {
        background-color: blue;
    }
    .nav-toggle:focus {
        background-color: blue;
    }
    .hamburger {
    background-color: black;
    height: 6px;
    width: 40px;
    padding: 0;
    margin: 3px;
    }
    .nav-menu.hide {
    display: none;
    }
    .nav-menu.show {
        position:absolute;

    }
}